body {
  background-color: #4836bb;
  display: flex;
  flex-direction: column; /* Organiza os itens em coluna */
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  height: 100vh; /* Altura total da janela */
  margin: 0; /* Remove margens padrão do body */
  font-family: "Press Start 2P", system-ui;
}

.container {
  display: flex; /* Flexbox para organizar os botões */
  flex-direction: column; /* Coloca os itens em coluna */
  align-items: center; /* Centraliza os botões */
  gap: 20px; /* Espaçamento entre os botões */
  margin-bottom: 20px; /* Margem inferior para separar do resultado */
}

.button {
  --😀: #644dff;
  --😀😀: #4836bb;
  --😀😀😀: #654dff63;
  cursor: pointer;
  width: 184px;
  height: 48px;
  display: flex;
  align-items: center; /* Alinha verticalmente ao centro */
  justify-content: center; /* Alinha horizontalmente ao centro */
  gap: 1rem; /* Espaçamento entre ícone e texto, se houver */
  font-size: 1.125em;
  font-weight: 800;
  letter-spacing: 1px;
  color: #fff;
  background: var(--😀);
  border: 2px solid var(--😀😀);
  border-radius: .75rem;
  box-shadow: 0 8px 0 var(--😀😀);
  transform: skew(-10deg);
  transition: all .1s ease;
  filter: drop-shadow(0 15px 20px var(--😀😀😀));
}

.button:active {
  letter-spacing: 0px; /* Espaçamento entre letras ao clicar */
  transform: skew(-10deg) translateY(8px);
  box-shadow: 0 0 0 var(--😀😀😀);
}

.custom-input {
  width: 300px; /* Largura da caixa de texto */
  padding: 10px; /* Espaçamento interno */
  border: 2px solid #644dff; /* Borda */
  border-radius: 10px; /* Cantos arredondados */
  font-size: 1em; /* Tamanho da fonte */
  color: #333; /* Cor do texto */
  background-color: #fff; /* Cor de fundo da caixa */
  transition: border-color 0.3s, box-shadow 0.3s; /* Transição suave na borda e na sombra */
}

.custom-input:focus {
  outline: none; /* Remove o contorno padrão */
  border-color: #4836bb; /* Cor da borda ao focar */
  box-shadow: 0 0 5px rgba(72, 54, 187, 0.5); /* Sombra ao focar */
}

#resultado {
  margin-top: 20px; /* Espaçamento acima do resultado */
  font-size: 1.5em; /* Tamanho do texto do resultado */
  color: black; /* Cor do texto */
  text-align: center; /* Centraliza o texto */
}
